{% extends "layout.html" %}

{% block body %}

  

  <h1>Admin Dashboard</h1>

  <form action="{{ url_for('add_user') }}" method = 'post'>
  	<h2>Create a New User</h2>
    <div class="form-group">
      <input id="input_username1" class="username form-control" type="text" name="username" placeholder="Username">
    </div>

    <div class="form-group">
      <input id="input_password1" class="username form-control" type="text" name="password" placeholder="Password">
    </div>

    <input type="checkbox" name="is_admin" value="is_admin">
	  <label for="is_admin"> Is an admin.</label><br>

    <button class="btn btn-success" type="submit" id="submit_new_user"> Add New User </button>
  </form>


  <h2>Existing Task Types</h2>
  <p> TODO search filter here </p>
  <ul>
  {% for task_type in task_types %}
    <li>{{task_type.task_type}}
      <ul>
        <li> TODO - make these a popup?</li>
        <li>Required: {% for field in task_type.required_fields %} {{field}}, {% endfor %} </li>
        <li>Optional: {% for field in task_type.optional_fields %} {{field}}, {% endfor %} </li> 
      </ul>
    </li>

  {% endfor %}
  </ul>

  <!-- create new task types with appropriate fields... -->
  <form action="{{ url_for('add_task_type') }}" method = 'post'>
    <h2>Create a New Task Type</h2>
    <div class="form-group">
      <input id="task_type" class="username form-control" type="text" name="task_type" placeholder="Task Type">
    </div>

    <div id="task_typefields" class="form_group">
    </div>

    <!-- templates for cloning -->
    <div style="display: none;">

        <input id="text_field_template" class="username form-control" type="text" name="field" placeholder="Text Field">

        <span id="required_label">Required: </span>
        <input class="pointer" type="checkbox" id="required_template" name="required_template" value="required" checked>
        <button id="remove_template" type="button" style="margin: 10px">Remove</button>

        <!-- <div id="choice_field_template">

        </div> -->

    </div>
    <span onclick="addField()">Add Text Field</span>
    <p> TODO Make it so they can add a Multiple Choice Field with provided options </p>
    <br>


    <button class="btn btn-success" type="submit" id="submit_new_user"> Add Task Type </button>
  </form>


<script type="text/javascript">
  var count = 0
  
  function addField() {

    var box = jQuery("#text_field_template").clone();
    box.css("display","block");
    box.attr("id", "field_"+count)
    box.attr("name", "field_"+count)
    box.attr("placeholder", "Field "+count)
    jQuery("#task_typefields").append(box);

    var required_label = jQuery("#required_label").clone();
    required_label.css("display","inline");
    required_label.attr("id", "required_label_"+count)
    jQuery("#task_typefields").append(required_label);

    var required = jQuery("#required_template").clone();
    required.css("display","inline");
    required.attr("id", "required_"+count)
    required.attr("name", "required_"+count)
    jQuery("#task_typefields").append(required);

    var remove = jQuery("#remove_template").clone();
    remove.css("display","inline");
    remove.attr("id", "remove_"+count)
    remove.attr("onclick", "removeField("+count+")")
    jQuery("#task_typefields").append(remove);
    

    count += 1;
  }

  function removeField(id) {
    jQuery("#field_"+id).css("display", "none");
    jQuery("#field_"+id).val(""); // clear out the value so that this field is not saved to database upon submission
    jQuery("#required_"+id).css("display", "none");
    jQuery("#required_label_"+id).css("display", "none");
    jQuery("#remove_"+id).css("display", "none");
  }
</script>



{%endblock%}