{% extends "layout.html" %}

{% block body %}

	<h1>Inventory Overview</h1>

	<ul>
		{% for item in inventory %}
			<li>{{item.name}}: {{item.amount}} {{item.unit.name}}</li>
		{% endfor %}
	</ul>

	

	<h3>Add Inventory Item</h3>
	<form action="{{ url_for('add_item_page') }}" method = 'post'>
  	  <input required type="text"  name="item_name" placeholder="Item Name...">
  	  <input required type="number" step="0.01" name="amount" placeholder="Amount...">

  	  <label for="unit_name">Units: </label>
  	  <select required name="unit_name" id="unit_name">
	  	<option value=""></option>
	  	{% for unit in units %}
		    <option value="{{unit.name}}">{{unit.name}}</option>
	    {% endfor %}
	  </select>

  	  <button class="btn btn-success" type="submit" > Add Item </button>
	 </form>

	 <h3>Change Amount</h3>
	 <form action="{{ url_for('change_item_amount_page') }}" method = 'post'>
	 	<label for="change_item_name">Item: </label>
  	  <select required name="item_name" id="change_item_name">
	  	<option value=""></option>
	  	{% for item in inventory %}
		    <option value="{{item.name}}">{{item.name}} ({{item.unit.abbreviation}})</option>
	    {% endfor %}
	  </select>

  	  <input required type="number" step="0.01" name="amount" placeholder="Amount to change by...">

  	  <button class="btn btn-success" type="submit" > Change Amount </button>
	 </form>

	 <h3>Set Amount</h3>
	 <form action="{{ url_for('set_item_amount_page') }}" method = 'post'>
	 	<label for="change_item_name">Item: </label>
  	  <select required name="item_name" id="change_item_name">
	  	<option value=""></option>
	  	{% for item in inventory %}
		    <option value="{{item.name}}">{{item.name}} ({{item.unit.abbreviation}})</option>
	    {% endfor %}
	  </select>

  	  <input required type="number" step="0.01" name="amount" placeholder="Amount...">

  	  <button class="btn btn-success" type="submit" > Set Item Amount</button>
	 </form>


	 <h3>Existing Units</h3>
	<ul>
	{% for unit in units %}
		<li>{{unit.name}} ({{unit.abbreviation}})</li>
	{% endfor %}
	</ul>

	<h3>Add Unit</h3>
	<form action="{{ url_for('add_unit_page') }}" method = 'post'>
  	  <input  required type="text"  name="unit_name" placeholder="Unit...">
  	  <input  type="text"  name="abbreviation" placeholder="Abbreviation (optional)">
  	  <button class="btn btn-success" type="submit" > Add Unit </button>
	</form>




{%endblock%}