{% extends "layout.html" %}

{% block body %}

	<h1>Task Overview</h1>


	<h2> {{ task.task_type }} </h2>
	<h3> {{ task.due_datestring }} </h3>
	<p> {{ task.description }} </p>
	<p> Completed: {{task.completed}} </p>
	{% for field in task.fields %}
		<p> {{field}}: {{task.fields[field]}} </p>
	

	{% endfor %}

	<h3>Reminders</h3>
	{% for reminder in task.reminder_datestrings %}
		<p> {{reminder}} </p>

	{% endfor %}

	{% if task.completed %}
		<form action="/uncomplete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >Un-complete Task</button>
		  </div>
		</form>
	{% else %}
		<form action="/complete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >Complete Task</button>
		  </div>
		</form>
	 {% endif %}


	<h3>Update Task</h3>
	<form action="/update_task/{{task.id}}"  method = 'post'>
	  <div class="form-group" >
	  	
	  	<div>Required Fields:</div>
	  	<label for="due_date">Due date: </label><input class="required"  type="date" id="due_date_=" name="due_date" onchange="calculateAllDates()">
	  	<!-- TODO - for some reason, description isn't required??? -->
	  	<label for="description">Description: </label><textarea class="required" name="description" rows="4" cols="50">{{task.description}}</textarea>
	  	{% for field in task_type.required_fields %}
	  		{% if field is mapping %}
	  			{% for key in field %}
	  				<label for="{{task_type.task_type}}_{{key}}">{{key}}:</label>
	  				<select class="required_{{task_type.task_type}}" id="{{task_type.task_type}}_{{key}}" name="{{key}}" value={{task.fields[field]}}>
					  	<option value=""></option>
					  	{% for option in field[key] %}
						    <option value="{{option}}">{{option}}</option>
					    {% endfor %}
					  </select>
	  			{% endfor %}
	  		{% else %}
		  		<label for="{{task_type.task_type}}_{{field}}">{{field}}:</label><input class="required_{{task_type.task_type}}" type="text" id="{{task_type.task_type}}_{{field}}" name="{{field}}" placeholder="{{field}}" value={{task.fields[field]}}>
		  	{% endif %}
	  	{% endfor %}

	  	{% if (task_type.optional_fields | length) > 0%}
		  	<div>Optional Fields:</div>
		  	{% for field in task_type.optional_fields %}
			  	{% if field is mapping %}
		  			{% for key in field %}
		  				<label for="{{task_type.task_type}}_{{key}}">{{key}}:</label>
		  				<select id="{{task_type.task_type}}_{{key}}" name="{{key}}" value={{task.fields[field]}}>
						  	<option value=""></option>
						  	{% for option in field[key] %}
							    <option value="{{option}}">{{option}}</option>
						    {% endfor %}
						  </select>
		  			{% endfor %}
		  		{% else %}
		  			<label for="{{task_type.task_type}}_{{field}}">{{field}}:</label><input type="text" id="{{task_type.task_type}}_{{field}}" name="{{field}}" placeholder="{{field}}" value={{task.fields[field]}}>
		  		{% endif %}
		  	{% endfor %}
		{% endif %}

		<div id="task_reminders_{{task_type.task_type}}" class="form_group">
		  	<div>Current Reminders:</div>
		  	{% for reminder in task_type.reminders %}
		  		<div id="field_{{loop.index}}">
			  		<p>Automatically {{reminder.amount}} {{reminder.unit}}(s) before (but user can adjust): </p>
			  		<input name="reminder_{{loop.index}}" type="date" id="reminder_{{loop.index}}" class="reminder" data-amount="{{reminder.amount}}" data-unit="{{reminder.unit}}" data-user-changed="false" onchange="userChange(this)">
			  		<button id="remove_template" type="button" style="margin: 10px" onclick="removeField({{loop.index}})">Remove</button>
			  	</div>
		  	{% endfor %}

	  	
	    </div>

	  	<button type="button" onclick="addReminder('{{task_type.task_type}}')" style="margin: 10px;">Add Reminder</button>

	  	 <button class="btn btn-success" type="submit" id="submit_new_user"> Update Task (in progress) </button>
	  </div>
	 </form>




{%endblock%}