{% extends "layout.html" %}

{% block body %}



	<h1>{{text['Task Overview']}}</h1>


	<h2> {{text['Task Type']}}: {{ task.task_type }} </h2>
	<h3> {{text['Due Date']}}:  {{ task.due_datestring }} </h3>
	<p> {{text['Description']}}: {{ task.description }} </p>
	<p> {{text['Completed']}}:  {{task.completed}} </p>
	<h3>{{text['Fields']}}: </h3>
	{% for field in task.fields %}
		<p> {{field}}: {{task.fields[field]}} </p>
	

	{% endfor %}

	<h3>{{text['Reminders']}}</h3>
	{% for reminder in task.reminder_datestrings %}
		<p> {{reminder}} </p>

	{% endfor %}

	{% if task.completed %}
		<form action="/uncomplete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >{{text['Un-Complete Task']}}</button>
		  </div>
		</form>
	{% else %}
		<form action="/complete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >{{text['Complete Task']}}</button>
		  </div>
		</form>
	 {% endif %}


	<h3>{{text['Update Task']}}</h3>
	<form action="/update_task/{{task.id}}"  method = 'post'>
	  <div class="form-group" >
	  	
	  	<div>{{text['Required Fields']}}</div>
	  	<label for="due_date">{{text['Due Date']}}: </label><input class="required"  type="date" id="due_date_=" name="due_date" onchange="calculateAllDates()">
	  	<!-- TODO - for some reason, description isn't required??? -->
	  	<label for="description">{{text['Description']}}: </label><textarea class="required" name="description" rows="4" cols="50">{{task.description}}</textarea>
	  	{% for field in task_type.required_fields %}
	  		{% if field is mapping %}
	  			{% for key in field %}
	  				<label for="{{task_type.task_type}}_{{key}}">{{key}}:</label>
	  				<select class="required_{{task_type.task_type}}" id="{{task_type.task_type}}_{{key}}" name="{{key}}" value={{task.fields[field]}}>
					  	<option value=""></option>
					  	{% for option in field[key] %}
						    <option value="{{option}}">{{option}}</option>
					    {% endfor %}
					  </select>
	  			{% endfor %}
	  		{% else %}
		  		<label for="{{task_type.task_type}}_{{field}}">{{field}}:</label><input class="required_{{task_type.task_type}}" type="text" id="{{task_type.task_type}}_{{field}}" name="{{field}}" placeholder="{{field}}" value={{task.fields[field]}}>
		  	{% endif %}
	  	{% endfor %}

	  	{% if (task_type.optional_fields | length) > 0%}
		  	<div>{{text['Optional Fields']}}</div>
		  	{% for field in task_type.optional_fields %}
			  	{% if field is mapping %}
		  			{% for key in field %}
		  				<label for="{{task_type.task_type}}_{{key}}">{{key}}:</label>
		  				<select id="{{task_type.task_type}}_{{key}}" name="{{key}}" value={{task.fields[field]}}>
						  	<option value=""></option>
						  	{% for option in field[key] %}
							    <option value="{{option}}">{{option}}</option>
						    {% endfor %}
						  </select>
		  			{% endfor %}
		  		{% else %}
		  			<label for="{{task_type.task_type}}_{{field}}">{{field}}:</label><input type="text" id="{{task_type.task_type}}_{{field}}" name="{{field}}" placeholder="{{field}}" value={{task.fields[field]}}>
		  		{% endif %}
		  	{% endfor %}
		{% endif %}

		<div id="task_reminders_{{task_type.task_type}}" class="form_group">
		  	<div>{{text['Current Reminders']}}</div>
		  	{% for reminder in task_type.reminders %}
		  		<div id="field_{{loop.index}}">
			  		<p>{{reminder.amount}} {{reminder.unit}}(s): </p>
			  		<input name="reminder_{{loop.index}}" type="date" id="reminder_{{loop.index}}" class="reminder" data-amount="{{reminder.amount}}" data-unit="{{reminder.unit}}" data-user-changed="false" onchange="userChange(this)">
			  		<button id="remove_template" type="button" style="margin: 10px" onclick="removeField({{loop.index}})">{{text['Remove']}}</button>
			  	</div>
		  	{% endfor %}

	  	
	    </div>

	  	<button type="button" onclick="addReminder('{{task_type.task_type}}')" style="margin: 10px;">{{text['Add Reminder']}}</button>

	  	 <button class="btn btn-success" type="submit" id="submit_new_user"> {{text['Update Task']}} </button>


	  </div>
	 </form>

	 <a href="/copy_task/{{task.id}}"><button class="btn btn-success" type="button" id="copy_task"> {{text['Copy Task']}} </button></a>


{%endblock%}