{% extends "layout.html" %}

{% block body %}

	<h1>Task Overview</h1>


	<h2> {{ task.task_type }} </h2>
	<h3> {{ task.due_datestring }} </h3>
	<p> {{ task.description }} </p>
	<p> Completed: {{task.completed}} </p>
	{% for field in task.fields %}
		<p> {{field}}: {{task.fields[field]}} </p>
	

	{% endfor %}

	<h3>Reminders</h3>
	{% for reminder in task.reminder_datestrings %}
		<p> {{reminder}} </p>

	{% endfor %}

	{% if task.completed %}
		<form action="/uncomplete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >Un-complete Task</button>
		  </div>
		</form>
	{% else %}
		<form action="/complete_task/{{task.id}}"  method = 'post'>
		  <div class="form-group" >
		  	 <button class="btn btn-success" type="submit" >Complete Task</button>
		  </div>
		</form>
	 {% endif %}


	<h3>Update Task</h3>




{%endblock%}